
header{
    height: 100;
    width: 1000;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav{
    height: 850px;
    width: 100px;
    padding: 10px;
    background-color: #444;
    float: left;
}

main{
    height: 870;
    width: 1000;
    background-color: #222;
}

section{
    height: 870;
    width: 860;
    background-color: #222;
    overflow-y: scroll;
    overflow-x: auto;
    float: right;
}

article{
    padding: 10px;
    margin-top: 10px;
    width: 520px;
    height: 830px;
    background-color: #333;
    color: white;
    float:left;
}

aside{
    margin-top: 100;
    margin-right: 20;
    background-color: #444;
    width: 250;
    height: 250;
    color: white;
    float: right;
}

footer{
    height: 30;
    width: 1000;
    background-color: #444;
    color: white;
}

