
header{
    height: 100;
    width: 980;
    background-color: #333;
    color: white;
    padding: 10px;
}

header h1{
    padding-left: 20px;
    font-size: 40px;
    vertical-align: middle;
}

nav{
    text-align: center;
    color: white;
    height: 850px;
    width: 100px;
    padding: 10px;
    background-color: #444;
    float: left;
}


nav a{
    opacity: 70%;
    outline-width: 10px;
}
nav a:hover {
    opacity: 100%;
    cursor: pointer;
    transition: 0.5s;
}

nav a:active hr {
    opacity: 100%;
    cursor: pointer;
    transition: 0.5s;
}

main{
    height: 870;
    width: 1000;
    background-color: #222;
}

section{
    height: 870;
    width: 860;
    background-color: #222;
    overflow-y: scroll;
    overflow-x: auto;
    float: right;
}

article{
    padding: 10px;
    margin-top: 10px;
    width: 520px;
    height: 830px;
    background-color: #333;
    color: white;
    float:left;
}

article h1{
    text-align: center;
    color: white;
    font-size: 28px;
}

article p{
    font-size: 16px;
    padding-left: 12px;
    text-align: justify;
}

article h2{
    font-size: 18px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    margin-top: 100;
    margin-right: 20;
    background-color: #444;
    width: 250;
    height: 250;
    color: white;
    float: right;
}

footer{
    height: 30;
    width: 1000;
    background-color: #444;
    color: white;
}

